body{
    background-image: url(../image/2019-03-20.png);
}

.jumbotron{
    background-image: url(../image/sketchDart.jpg);
    color: #ffc107;
    text-shadow: 3px 2px black;
    font-size: 30px;
    border: solid 3px black;
   
}

h1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.card-header{
    background-color: #ffc107;
}

.mb-4{
    border: solid 2px black;
}